{% extends 'base.html' %}

<!-- Хлебные крошки: навигация по сайту переопределена для текущей страницы -->
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('tasks.index')}}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Редактировать</li>
  </ol>
</nav>
{% endblock %}

<!-- Основной контент сайта: определен для текущей страницы -->
{% block content %}

<!-- Форма для редактирования текущей задачи -->
<div class="row mb-3">
  <form method="POST" class="border rounded ps-3 pe-3 pt-2 pb-2 shadow-sm ">
    {{ addtaskform.hidden_tag() }}
    <h2 class="mb-2 h4">Редактирования задачи № {{task_id}}</h2>
    <div class="mb-2">
    <!-- Галочка: статус задачи, выполнено или нет -->
      <div class="form-check mb-2">
        {{ addtaskform.status(class_='form-check-input', type="checkbox", id="checkDefault") }}
        {{ addtaskform.status.label(class_='form-check-label', for="checkDefault") }}
      </div>

      <!-- Название задачи -->
      {{ addtaskform.title(class_="form-control mb-2", id="add-task-title", placeholder="Название задач...") }}

      <!-- Описание задачи -->
      <div class="form-floating">
        {{ addtaskform.description(class_="form-control mb-2", id="floatingDescription", placeholder="Описание...", style="height: 80px") }}
        <label for="floatingDescription">Описание</label>
      </div>
      <!-- Дата добавления задачи -->
      <p>Добавлено: {{ data_add}}</p>

      <!-- Кнопка: Сохранить изменения -->
      <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Сохранить изменения</button>
    </div>
  </form>
</div>

{% endblock %}