{% extends 'base.html' %}

<!-- Хлебные крошки: навигация по сайту переопределена для текущей страницы -->
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Главная</li>
  </ol>
</nav>
{% endblock %}


<!-- Основной контент сайта: определен для текущей страницы -->
{% block content %}
<!-- Форма для добавления новых задач -->
<div class="row mb-3">
  <form method="POST" class="border rounded ps-3 pe-3 pt-2 pb-2 shadow-sm ">
    {{ addtaskform.hidden_tag() }}
    <h2 class="mb-2 h4">Добавить задачу</h2>
    <div class="mb-2">

      <!-- Названия задачи -->
      {{ addtaskform.title(class_="form-control mb-2", id="add-task-title", placeholder="Название задач ...") }}

      <!-- Описание задачи -->
      <div class="form-floating">
        {{ addtaskform.description(class_="form-control mb-2", id="floatingDescription", placeholder="Описание...", style="height: 80px") }}
        <label for="floatingDescription">Описание</label>
      </div>

      <!--Кнопка: добавить задачу-->
      <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Добавить задачу</button>
      
    </div>
  </form>
</div>


<!-- Отобразить список задач пользователя или призив к действияю добавления задачи -->
{% if tasks %}
{% for task in tasks %}
<div class="row">
  <div class="card mb-2 border rounded shadow-sm ">
    <div class="card-body">
      <div class="d-flex align-items-center">

        <!-- Первая колонка: Галочка -->
        <div class="me-3">
          <form action="{{ url_for('tasks.toggle_status_view', id=task.id) }}" method="post" style="display:inline;">
            <input id="taskCheckbox" class="form-check-input" type="checkbox" name="status" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>
          </form>
        </div>

        <!-- Вторая колонка: Название, Описание, Дата (Если задча выполнена название перечеркнуто) -->
        {% if task.completed %}
        <div class="flex-grow-1 ms-3">
          <s><h5 class="card-title mb-1">{{ task.title }}</h5></s>
          <p class="card-text mb-1">{{ task.description }}</p>
          <small class="text-muted">{{ task.data_add }}</small>
        </div>
        {% else %}
        <div class="flex-grow-1 ms-3">
          <h5 class="card-title mb-1">{{ task.title }}</h5>
          <p class="card-text mb-1">{{ task.description }}</p>
          <small class="text-muted">{{ task.data_add }}</small>
        </div>
        {% endif %}

        <!-- Предпоследняя колонка: Кнопка Редактировать -->
        <div class="me-2">
          <form action="{{ url_for('tasks.edit_tasks', id=task.id) }}" method="post" style="display:inline;">
            <button class="btn btn-sm btn-outline-primary" type="submit"><i class="bi bi-pen"></i> Редактировать</button>
          </form>
        </div>

        <!-- Последняя колонка: Кнопка Удалить (с подтверждениям действия) -->
        <div>
          <form action="{{ url_for('tasks.delete_tasks', id=task.id) }}" method="post" style="display:inline;">
            <button class="btn btn-sm btn-outline-danger" type="submit" onclick="return confirm('Точно удалить?')"><i class="bi bi-x-circle"></i> Удалить</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<!-- Блок: призыв к действию если нету ни одной задачи -->
<div class="row justify-content-center">
  <div class="col-auto">
    <div class="card text-center border-0" style="width: 300px;">
      <img src="{{ url_for('static', filename='images/dove.png') }}" class="mx-auto mt-3" alt="Пусто" width="300" height="300">
      <div class="card-body">
        <h5 class="card-title">Голубь тоскует без дел!</h5>
        <p class="card-text">У вас пока нет ни одной задачи. Добавьте хотя бы одну — пусть голубь не грустит.</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}